@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Avenir-Next';
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Next-Bold';
  src: url('./assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-style: normal;
}

$blue-color: #213f7d;
$light-blue-color: #545f7d;
$green-color: #39cdcc;
$red-color: #FF3366;
$font-avenir: 'Avenir-Next', sans-serif;
$font-avenir-bold: 'Avenir-Next-Bold', sans-serif;
$font-work: 'Work Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin primary-btn {
  background-color: $green-color;
  color: #fff;
  cursor: pointer;
}
